@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.conteiner {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.title-1 {
  font-size: 34px;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 7px 22px;
  background-color: #070707;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover,
.btn:focus {
  background-color: #323232;
}

.btn:active {
  position: relative;
  top: 1px;
  background-color: #000;
}

.header {
  padding-top: 46px;
  background-color: #F1F1F1;
}

.header .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 76px;
}

.header .logo {
  position: relative;
  padding: 0 12px 3px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: #000;
}

.header .logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #FDA300;
  border-radius: 50%;
}

.header .nav .nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
}

.header .nav .nav-button {
  display: none;
}

.header .nav .nav-link {
  color: #000;
}

.header .nav .nav-link.active {
  color: #606060;
}

.header .header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.header .header-row .header-content {
  max-width: 500px;
  margin-top: 124px;
}

.header .header-row .header-content .header-heading {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 20px;
}

.header .header-row .header-content p {
  font-weight: 400;
  line-height: 2;
}

.services {
  padding: 90px 0;
}

.services .services-row {
  display: flex;
  column-gap: 30px;
  row-gap: 60px;
  flex-wrap: wrap;
}
.services .services-row .services-card {
  flex: 1 1 0;
  min-width: 315px;
}

.services .services-row .services-card .services-card-img {
  margin-bottom: 30px;
}

.services .services-row .services-card .services-card-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.services .services-row .services-card p {
  line-height: 2;
}

.portfolio {
  padding: 90px 0;
  background-color: #f1f1f1;
}

.portfolio .portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}

.portfolio .project {
  text-align: center;
}

.portfolio .project+.project {
  margin-top: 90px;
}

.portfolio .project .project-img {
  margin-bottom: 40px;
}

.portfolio .project .project-title {
  font-size: 18px;
}

.portfolio .project .project-title a {
  color: #000;
  text-decoration: underline;
}

.contacts {
  padding: 90px 0;
  text-align: center;
}

.contacts .contacts-title {
  margin-bottom: 40px;
}

.contacts .contacts-content {
  max-width: 40px;
  margin: 0 auto 40px;
  max-width: 480px;
  font-size: 18px;
}

.contacts .contacts-content p+p {
  margin-top: 1em;
}

.contacts .contacts-button {
  margin-bottom: 80px;
}

.contacts .contacts-social {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.contacts .contacts-footer {
  color: #828282;
}
